body {
  margin: 0;
  height: 100%;
}
.App {
  background-color: #0a1936;
  height: 100vh;
  color: white;
  align-items: center;
  margin: 0;
  justify-content: center;
}

.main {
  padding: 6em 6em 0 6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-menu {
  display: flex;
  flex-direction: row;
}
.input-search {
  background-color: white;
  width: 333px;
  height: 44px;
  margin: 8px;
  gap: 0px;
  border-radius: 27.79px;
  opacity: 0px;
  padding: 0 28px 0 28px;
}

.btn-primary {
  background-color: #1090db;
  width: 188px;
  height: 44px;
  margin: 8px;
  color: white;
  border-radius: 27.79px;
  opacity: 0px;
  padding: 0 28px 0 28px;
}

.current-weather-wrapper {
  display: flex;
  justify-content: left;
  padding: 10px;
  align-items: center;
}

.current-weather-group {
  align-items: center;
  flex-direction: column;
  padding: 12px;
}
.current-weather {
  font-size: 24px;
  font-weight: bold;
}
.current-time {
  font-size: 18px;
  font-weight: 400;
}

.box {
  border-top: solid 0.5px white;
  text-align: center;
}

.weather-temp,
.weather-label {
  font-size: 18px;
  font-weight: bold;
  justify-content: center;
}

.city {
  font-size: 20px;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 426px) {
  .App {
    min-height: 100%;
  }
  .main {
    padding: 5em 1em 5em 1em;
  }
  .search-menu {
    display: flex;
    flex-direction: column;
  }
  .input-search {
    width: 200px;
    padding: 0 28px 0 28px;
  }

  .btn-primary {
    width: 260px;
    padding: 0 28px 0 28px;
  }
  .current-weather-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .flex-row {
    flex-direction: column;
  }
  .weather-forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
  }
  .weather-temp,
  .weather-label {
    font-size: 16px;
  }
}
